.section {
    background-color: white;
    margin: 10px 0;
}

.section__container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    align-items: center;
}

@media (max-width: 767px) {
    .section__container {
        grid-template-columns: 1fr;
    }
}

.section__header {
    margin: 0;
    padding: 20px;
}

.section__body {
    padding: 20px;
}